.marktplatz-Sec {
    
    h1{
        text-align: center;
        
    }
   
    #search {
        margin-left: 38vmax;
        margin-bottom: 5%;
        margin-top: 2%;
        background-color: rgba(120, 84, 247, 0.5);
        color: rgb(77, 74, 74);
        border-radius: 1rem;
        border-style: solid;
        width: 25vmax;
        height: 3vmax;
        font-family: roboto, "Roboto";
        font-size: 1.4vmax;
        // vertical-align: top;
        line-height: 100%;
        text-align: center;
    }
    .register-Sec {
     background-color: $basicButtonBlue-full;
        color: $basicWhite;
        font-size: 0.875rem;
       text-align: center;  
       padding: 2% 3%;  
       
        
    }
    .button {
        text-align: center;
        margin: 0 0 2% 0;
    
    }

}